<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
		<link rel="dns-prefetch" href="https://fonts.googleapis.com/" />

		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.typekit.net/nmo5xwe.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />

		<link rel="icon" href="<%= client.user.displayAvatarURL() %>" />

		<title><%=client.user.username%> - Main Page</title>
	</head>
	<body>
		<div class="main-page">
			<div class="main-container">
				<img id="bot-image" width="200" height="300" src="images/ImageLogo.png" alt="<%= client.user.username %> profile" />

				<div class="main-description">
					<!-- <h1 id="bot-uname"><%= client.user.username %></h1> -->

					<div class="fade-in-text">
						<h1>GenshinZone ID</h1>
					</div>
					<div class="fade-in-text">
						<p>A perfectly made Discord bot for GenshinZone Discord server.</p>
					</div>

					<div class="main-button-container">
						<div class="main-button">
							<a href="https://github.com/PaizTralala/genshin-zone-bot" target="_blank" class="button-link">
								<button>
									<!-- <i class="fa-brands fa-github"></i>  -->
									Github
								</button>
							</a>
						</div>

						<div class="main-button">
							<a href="https://discord.gg/AyjH2SE6pB" target="_blank" class="button-link">
								<button>
									<!-- <i class="fa-brands fa-discord"></i> -->
									Discord Server
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220" style="background-color: #2a2a3a">
			<path
				fill="#F4947C"
				fill-opacity="1"
				d="M0,128L48,122.7C96,117,192,107,288,96C384,85,480,75,576,85.3C672,96,768,128,864,122.7C960,117,1056,75,1152,74.7C1248,75,1344,117,1392,138.7L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
			></path>
		</svg>

		<div class="client-stats">
			<% let guildSize = client.guilds.cache.size %> <% let userSize = client.guilds.cache.reduce((a, g) => a + g.memberCount, 0);%>

			<div class="guild-stats">
				<h1>Guild Count</h1>
				<h1 id="guild-count">0</h1>
			</div>

			<div class="user-stats">
				<h1>User Count</h1>
				<h1 id="user-count">0</h1>
			</div>
		</div>

		<div class="content-container">
			<h1 id="title">Main Features</h1>

			<div class="ticket-container">
				<div data-aos="fade-right" data-aos-duration="1000">
					<img
						class="ticket-image"
						src="https://cdn.discordapp.com/attachments/938061902662213644/996833622680154253/unknown.png"
						alt="ticket system image"
					/>
				</div>

				<div data-aos="fade-left" data-aos-duration="1500">
					<div class="ticket-description">
						<h1>Ticket System!</h1>
						<p>In GenshinZone Indonesia, we have our own built in ticket system!</p>
					</div>
				</div>
			</div>

			<div class="ticket-description">
				<h1 style="text-align: center"><a href="/commands" style="color: inherit; text-decoration: none">Command list</a></h1>
			</div>
		</div>

		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script src="https://kit.fontawesome.com/e622039ad4.js" crossorigin="anonymous"></script>

		<script>
			AOS.init();

			function animateValue(obj, start, end, duration) {
				let startTimestamp = null;
				const step = (timestamp) => {
					if (!startTimestamp) startTimestamp = timestamp;
					const progress = Math.min((timestamp - startTimestamp) / duration, 1);
					obj.innerHTML = Math.floor(progress * (end - start) + start);
					if (progress < 1) {
						window.requestAnimationFrame(step);
					}
				};
				window.requestAnimationFrame(step);
			}

			const observer = new IntersectionObserver(entries => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						const guildCount = document.getElementById('guild-count');
						const userCount = document.getElementById('user-count');

						animateValue(guildCount, 0, <%= guildSize %>, 800);
						animateValue(userCount, 0, <%= userSize %>, 800);
					}
				})
			});

			observer.observe(document.getElementById('user-count'))
		</script>
	</body>
</html>
